.env
builds/
logs/
.pytest_cache/
.venv/
**/__pycache__/
*.py[cod]
*.bin
*memory/
*Zone.Identifier
**hls_fixes/

# Python build artifacts
build/
dist/
*.egg-info/

# Environments
venv/
env/
Verilog_sample/
clean_prompt_spec2rtl.txt
clean_codebase_spec2rtl.txt
SPEC2RTL_ARCHITECTURE_FIX.md
SPEC2RTL_CRITICAL_PATCH_01.md

